.hero-splash {
  background: #111;
  .major-splash::before {
    background: {
      image: url("images/amagami.jpg");
      repeat: no-repeat;
      size: cover;
    }
    &.fallback {
      @include opacity(0.15);
    }
    @include filter(brightness(25%) grayscale(0.25));
    @include opacity(0.9);
    min-height: 975px;
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    content: " ";
  }
  .major-splash {
    min-height: 975px;
    position: relative;
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(center);
  }
  .minor-splash {
    min-height: 1020px;
    position: relative;
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(center);
  }
  .splash-girls {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
  }
  @mixin splash-girl($image) { 
    background: {
      image: url("images/" + $image);
      repeat: no-repeat;
      size: cover;
      position: center center;
    }
    @include filter(brightness(25%) grayscale(0.35));
    &:not(.fallback) {
      @include opacity(0.5);
    }
    &.fallback {
      @include opacity(0.025);
    }
    height: 170px;
    width: 100%;
  }
  .rihoko {
    @include splash-girl("rihoko.jpg");
  }
  .tsukasa {
    @include splash-girl("tsukasa.jpg");
  }
  .sae {
    @include splash-girl("sae.jpg");
  }
  .kaoru {
    @include splash-girl("kaoru.jpg");
  }
  .haruka {
    @include splash-girl("haruka.jpg");
  }
  .ai {
    @include splash-girl("ai.jpg");
  }
}