<div class='amagami-small-hero__overlay'>
  <div class='amagami-small-hero__inner-container row'>
    <div class='amagami-small-hero__title-section large-12'>
      {{yield (hash isTitle=true)}}
    </div>
    <div class='amagami-small-hero__cta-section large-12'>
      {{yield (hash isCTA=true)}}
    </div>
  </div>
</div>
