.amagami-right-image-slide.container-lg {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
}

.amagami-right-image-slide__left-ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-left: 5rem;
}

.amagami-right-image-slide__flush-right {
  padding-right: 3rem;
  color: #ccc;
}

.amagami-right-image-slide__image-section {

}

.amagami-right-image-slide__right-ctn {
  width: 50%;
}
