#application-footer {
  background: {
    color: #222;
  }
  margin-top: 5rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
  .footer-title {
    text-align: center;
    color: #777;
  }
  .github-link {
    color: #777;
  }
}