#application-header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1001;
  .navbar-logo {
    font-size: 1.7rem;
    font-weight: 100;
  }
  .navbar {
    margin-bottom: 0;
    @include border-radius(0);
  }
  .navbar-inverse {
    background: {
      color: fade-out(#222, 0.9);
    }
    border: 1px solid fade-out(#222, 0.9);
    @include transition-property(background-color);
    @include transition-duration(200ms);
    @include transition-timing-function(ease-in);
    .navbar-brand:focus, .navbar-brand:hover, .navbar-nav>li>a:focus, .navbar-nav>li>a:hover {
      color: #DDD;
    }
  }
  .sticky-naved {
    background-color: #FFF;
    color: #333;
    border-bottom: 1px solid fade-out(#222, 0.9);
    @include box-shadow(fade-out(#000, 0.9) 0px 5px 8px);
  }
}
